
.axis path,
.axis line {
    fill: none;
    stroke: #eee;
    shape-rendering: crispEdges;
}

/*.axis text {
    font-family: sans-serif;
    font-size: 11px;
}*/

.okrajsava {
    fill: white;
    shape-rendering: crispEdges;
    font-family: sans-serif;
    font-size: 11px;
}
